@{
    ViewBag.Title = "Gallery";
    Layout = Session["Layout"] as string;
}

<h1>Gallery</h1>

<div id="gallery">
    @foreach (FileInfo path in (List<FileInfo>)ViewData["Paths"])
    {
        ViewData["img"] = path.ToString();
        @Html.Partial("_GalleryImagePartial", ViewData)
    }
</div>
