@model jensenj_Social_Site_V2.Models.Profile
@{
    Layout = Session["Layout"] as string;
    ViewBag.Title = "Profile";
    
}

<div id="profHeader">
    <img class="profpic" src="~/Pics/prof.png" /><h1>Jonathan Jensen</h1>
</div>
@Html.ActionLink("Change Template", "ChangeLayout")
@Html.Partial("_AboutPartialView", Model)
